# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables
.env

# Build output
dist/
build/
out/
release/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo

# Coverage
coverage/

# Electron packages
*.dmg
*.exe
*.deb
*.rpm
*.msi